<p></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="inner">
        <h3>Logs {{ this.component }}</h3>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Operation</th>
              <th scope="col">Component</th>
              <th scope="col">Object</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let log of LogList | paginate: {id: 'logPagination', itemsPerPage: 5, currentPage: pageLog};
                let i = index
              ">
              <td>{{ log.date }}</td>
              <td>{{ log.operation }}</td>
              <td>{{ log.component }}</td>
              <td>{{ findNameInLogMessage(log) }}</td>
              <td>
                <button type="button" id="delete-device" class="btn btn-danger btn-sm" (click)="DeleteLog(log._id)">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="pageLog = $event" id="logPagination"></pagination-controls>
</div>
