<div class="container wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="inner">
        <h3>Logs {{ this.component }}</h3>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Object</th>
              <th scope="col">Component</th>
              <th scope="col">Operation</th>
              <th scope="col">Message</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let log of LogList | paginate : { id: 'logPagination', itemsPerPage: 5, currentPage: pageLog };
                let i = index
              ">
              <td>{{ log.date }}</td>
              <td>{{ log.object }}</td>
              <td>{{ log.component }}</td>
              <td>{{ log.operation }}</td>
              <td>{{ log.message }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="pageLog = $event" id="logPagination"></pagination-controls>
</div>
