!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.launch
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.sublime-workspace
*.tgz
*.tsbuildinfo
.angular/cache
.c9/
.cache/
.classpath
.docusaurus/
.dynamodb/
.env
.env.*.local
.eslintcache
.fusebox/
.grunt/
.history/
.lock-wscript
.next/
.node_repl_history
.nuxt/
.nx/cache
.nx/workspace-data
.nyc_output/
.odo
.parcel-cache/
.project
.rpt2_cache/
.rts2_cache_*/
.serverless/
.settings/
.stylelintcache
.temp/
.vscode/
.vuepress/dist
/connect.lock
/libpeerconnection.log
/typings
MONGO.md
bazel-out/
build/Release/
coverage/
dist/
lib-cov/
logs/
node_modules/
out-tsc/
out/
package-lock.json
src/environments/environment.prod.ts
src/environments/environment.ts
