<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Edit Attribute</h3>
      <div>{{ this.toString(this.formEditAttribute.controls.id.value)  }}</div>
      <form [formGroup]="formEditAttribute" (ngSubmit)="submitForm()">
        <div class="row">
          <div class="col">
            <div class="form-group mb-3">
              <label for="deviceId" class="form-label">Device Id</label>
              <select (change)="changeDeviceId($event)"
                formControlName="deviceId" class="form-control" id="deviceId">
                <option
                  *ngFor="let deviceObj of deviceDictionary; let i = index" value="{{ deviceObj.id }}">
                  {{ deviceObj.name }}
                </option>
              </select>
              <div *ngIf="this.formEditAttribute.controls.deviceId.errors"
                class="invalid-feedback">
                <div *ngIf="this.formEditAttribute.controls.deviceId.errors.required">
                  deviceId is required
                </div>
              </div>
              <div>
                {{ this.toString(this.formEditAttribute.controls.deviceId.value)  }}
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-2">
              <label for="modelId" class="form-label">Model Id</label>
              <select (change)="changeModelId($event)" formControlName="modelId"
                class="form-control" id="modelId">
                <option *ngFor="let modelObj of modelDictionary; let i = index" value="{{ modelObj.id }}">
                  {{ modelObj.name }}
                </option>
              </select>
              <div *ngIf="this.formEditAttribute.controls.modelId.errors"
                class="invalid-feedback">
                <div
                  *ngIf="this.formEditAttribute.controls.modelId.errors.required">
                  modelId is required
                </div>
              </div>
              <div>
                {{ this.toString(this.formEditAttribute.controls.modelId.value) }}
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-2">
              <label for="connectionId" class="form-label">Connection Id</label>
              <select (change)="changeConnectionId($event)"
                formControlName="connectionId" class="form-control" id="connectionId">
                <option
                  *ngFor="let connectionObj of connectionDictionary; let i = index" value="{{ connectionObj.id }}">
                  {{ connectionObj.name }}
                </option>
              </select>
              <div *ngIf="this.formEditAttribute.controls.connectionId.errors"
                class="invalid-feedback">
                <div
                  *ngIf="this.formEditAttribute.controls.connectionId.errors.required">
                  connectionId is required
                </div>
              </div>
              <div>
                {{ this.toString(this.formEditAttribute.controls.connectionId.value) }}
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-2">
              <label for="connectionId" class="form-label">Attribute Dictionary Id</label>
              <select (change)="changeAttributeDictionaryId($event)"
                formControlName="attributeDictionaryId" class="form-control" id="attributeDictionaryId">
                <option
                  *ngFor="let attributeDictionaryObj of attributeDictionary; let i = index" value="{{ attributeDictionaryObj.id }}">
                  {{ attributeDictionaryObj.name }}
                </option>
              </select>
              <div
                *ngIf="this.formEditAttribute.controls.attributeDictionaryId.errors"
                class="invalid-feedback">
                <div
                  *ngIf="this.formEditAttribute.controls.attributeDictionaryId.errors.required">
                  attributeDictionaryId is required
                </div>
              </div>
              <div>
                {{  this.toString(this.formEditAttribute.controls.attributeDictionaryId.value)  }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group mb-2">
              <label for="value" class="form-label">Value</label>
              <input type="text" formControlName="value" id="id" required
                class="form-control" />
              <div *ngIf="this.formEditAttribute.controls.value.errors"
                class="invalid-feedback">
                <div
                  *ngIf="this.formEditAttribute.controls.value.errors.required">
                  Value is required
                </div>
                <div
                  *ngIf="this.formEditAttribute.controls.value.errors.minlength">
                  Value must be at least 36 characters
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group mb-3">
              <button type="submit" [disabled]="!(this.formEditAttribute.valid && this.formEditAttribute.touched)"
              class="btn btn-primary">
                Update attribute
              </button>
              <div *ngIf="!(this.formEditAttribute.valid && this.formEditAttribute.touched)" class="invalid-feedback">
                Form is invalid
              </div>
              <div>atLeastOneValidator: {{ formEditAttribute.hasError('atLeastOneValidator') }} </div>
              <div>formEditAttribute.value: {{ toString(formEditAttribute.value) }}</div>
              <div>this.formEditAttribute.valid: {{ toString(this.formEditAttribute.valid) }}</div>
              <div>this.formEditAttribute.touched: {{ toString(this.formEditAttribute.touched) }}</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-log [component]="component"></app-log>