<div class="container-fluid">
  <div class="row">
    <h3><i class="bi bi-motherboard"></i> Add Model</h3>
    <form [formGroup]="addModelForm" (ngSubmit)="submitForm()" class="needs-validation" novalidate>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input [ngClass]="{
                'is-invalid':
                  addModelForm.controls.name.invalid &&
                  (addModelForm.controls.name.touched || addModelForm.controls.name.dirty),
                'is-valid': addModelForm.controls.name.valid,
                'form-control': true,
              }" formControlName="name" minlength="4" id="name" maxlength="255" />
            @if (this.addModelForm.controls.name.errors) {
              <div class="invalid-feedback">
                @if (this.addModelForm.controls.name.errors.required) {
                  <div>Name is required</div>
                }
                @if (this.addModelForm.controls.name.errors.minlength) {
                  <div>Name must be at least 4 characters
                  </div>
                }
                @if (this.addModelForm.get('texture.bottom')?.errors?.minlength) {
                  <div>
                    Bottom must be at least 2 characters long
                  </div>
                }
              </div>
            }
          </div>
        </div>
      </div>
      <div class="row" formGroupName="dimension">
        <div class="col">
          <div class="form-group mb-2">
            <label for="width" class="form-label">Width</label>
            <input type="number" formControlName="width" id="width" maxlength="6" minlength="1" required [ngClass]="{
                'is-invalid':
                  addModelForm.get('dimension.width')?.invalid &&
                  (addModelForm.get('dimension.width')?.touched || addModelForm.get('dimension.width')?.dirty),
                'is-valid': this.addModelForm.get('dimension.width')?.status === 'VALID',
                'form-control': true,
              }" />
            @if (this.addModelForm.get('dimension.width')?.errors) {
              <div class="invalid-feedback">
                @if (this.addModelForm.get('dimension.width')?.errors?.required) {
                  <div>Width is required</div>
                }
                @if (this.addModelForm.get('dimension.width')?.errors?.minlength) {
                  <div>
                    Width must be at least 1 number
                  </div>
                }
                @if (this.addModelForm.get('dimension.width')?.errors?.pattern) {
                  <div>
                    Width must be a number
                  </div>
                }
                @if (addModelForm.get('dimension.width')?.errors?.pattern) {
                  <p class="text-danger">Number Only</p>
                }
              </div>
            }
          </div>
        </div>
        <div class="col">
          <div class="form-group mb-2">
            <label for="height" class="form-label">Height</label>
            <input type="number" formControlName="height" id="height" maxlength="6" minlength="1" required
              [ngClass]="{
                'is-invalid': this.isFieldInvalid('dimension.height'),
                'is-valid': this.addModelForm.get('dimension.height')?.status === 'VALID',
                'form-control': true,
              }" />
            @if (this.addModelForm.get('dimension.height')?.errors) {
              <div class="invalid-feedback">
                @if (this.addModelForm.get('dimension.height')?.errors?.required) {
                  <div>Height is required</div>
                }
                @if (this.addModelForm.get('dimension.height')?.errors?.minlength) {
                  <div>
                    Height must be at least 1 number
                  </div>
                }
              </div>
            }
          </div>
        </div>
        <div class="col">
          <div class="form-group mb-2">
            <label for="depth" class="form-label">Depth</label>
            <input type="number" formControlName="depth" id="depth" maxlength="4" minlength="1" required [ngClass]="{
                'is-invalid':
                  this.addModelForm.get('dimension.depth')?.invalid &&
                  (this.addModelForm.get('dimension.depth')?.touched ||
                    this.addModelForm.get('dimension.depth')?.dirty),
                'is-valid': this.addModelForm.get('dimension.depth')?.status === 'VALID',
                'form-control': true,
              }" />
            @if (this.addModelForm.get('dimension.depth')?.errors) {
              <div class="invalid-feedback">
                @if (this.addModelForm.get('dimension.depth')?.errors?.required) {
                  <div>Depth is required</div>
                }
                @if (this.addModelForm.get('dimension.depth')?.errors?.minlength) {
                  <div>
                    Depth must be at least 1 number
                  </div>
                }
              </div>
            }
          </div>
        </div>
      </div>
      <div class="row" formGroupName="texture">
        <div class="col">
          <div class="form-group mb-2">
            <label for="front" class="form-label">Front</label>
            <input type="text" formControlName="front" id="front" [ngClass]="{
                'is-invalid':
                  this.addModelForm.get('texture.front')?.invalid &&
                  (this.addModelForm.get('texture.front')?.touched || this.addModelForm.get('texture.front')?.dirty),
                'is-valid': this.addModelForm.get('texture.front')?.status === 'VALID',
                'form-control': true,
              }" />
            @if (this.addModelForm.get('texture')?.get('front')?.errors) {
              <div class="invalid-feedback">
                @if (this.addModelForm.get('texture')?.get('front')?.errors?.required) {
                  <div>Front is required
                  </div>
                }
                @if (this.addModelForm.get('texture')?.get('front')?.errors?.minlength) {
                  <div>
                    Front must be at least 1 number.
                  </div>
                }
              </div>
            }
          </div>
        </div>
        <div class="col">
          <div class="form-group mb-3">
            <label for="back" class="form-label">Back</label>
            <input type="text" formControlName="back" id="back" [ngClass]="{
                'is-invalid':
                  this.addModelForm.get('texture.back')?.invalid &&
                  (this.addModelForm.get('texture.back')?.touched || this.addModelForm.get('texture.back')?.dirty),
                'is-valid': this.addModelForm.get('texture.back')?.status === 'VALID',
                'form-control': true,
              }" />
            @if (this.addModelForm.get('texture')?.get('back')?.errors) {
              <div class="invalid-feedback">
                @if (this.addModelForm.get('texture')?.get('back')?.errors?.required) {
                  <div>Back is required</div>
                }
                @if (this.addModelForm.get('texture')?.get('back')?.errors?.minlength) {
                  <div>
                    Back must be at least 1 character
                  </div>
                }
              </div>
            }
          </div>
        </div>
        <div class="col">
          <div class="form-group mb-3">
            <label for="side" class="form-label">Side</label>
            <input type="text" formControlName="side" id="side" [ngClass]="{
                'is-invalid':
                  this.addModelForm.get('texture.side')?.invalid &&
                  (this.addModelForm.get('texture.side')?.touched || this.addModelForm.get('texture.side')?.dirty),
                'is-valid': this.addModelForm.get('texture.side')?.valid,
                'form-control': true,
              }" />
            @if (this.addModelForm.get('texture.side')?.errors) {
              <div class="invalid-feedback">
                @if (this.addModelForm.get('texture.side')?.errors?.required) {
                  <div>Side is required</div>
                }
                @if (this.addModelForm.get('texture.side')?.errors?.minlength) {
                  <div>
                    Side must be at least 1 character
                  </div>
                }
              </div>
            }
          </div>
        </div>
        <div class="col">
          <div class="form-group mb-3">
            <label for="top" class="form-label">Top</label>
            <input type="text" formControlName="top" id="top" [ngClass]="{
                'is-invalid':
                  this.addModelForm.get('texture.top')?.invalid &&
                  (this.addModelForm.get('texture.top')?.touched || this.addModelForm.get('texture.top')?.dirty),
                'is-valid': this.addModelForm.get('texture.top')?.valid,
                'form-control': true,
              }" />
            @if (this.addModelForm.get('texture.top')?.errors) {
              <div class="invalid-feedback">
                @if (this.addModelForm.get('texture')?.get('top')?.errors?.required) {
                  <div>Top is required</div>
                }
                @if (this.addModelForm.get('texture')?.get('top')?.errors?.minlength) {
                  <div>
                    Top must be at least 1 character
                  </div>
                }
              </div>
            }
          </div>
        </div>
        <div class="col">
          <div class="form-group mb-3">
            <label for="bottom" class="form-label">Bottom</label>
            <input type="text" formControlName="bottom" id="bottom" [ngClass]="{
                'is-invalid':
                  this.addModelForm.get('texture.bottom')?.invalid &&
                  (this.addModelForm.get('texture.bottom')?.touched || this.addModelForm.get('texture.bottom')?.dirty),
                  'is-valid': this.addModelForm.get('texture.bottom')?.valid,
                'form-control': true,
              }" />
            @if (this.addModelForm.get('texture.bottom')?.errors) {
              <div class="invalid-feedback">
                @if (this.addModelForm.get('texture.bottom')?.errors?.required) {
                  <div>Bottom is required</div>
                }
                @if (this.addModelForm.get('texture.bottom')?.errors?.minlength) {
                  <div>
                    Bottom must be at least 2 characters.
                  </div>
                }
                @if (addModelForm.get('texture.bottom')?.errors?.minlength) {
                  <div>Bottom must be at least 2
                    characters...
                  </div>
                }
              </div>
            }
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button [disabled]="isSubmitDisabled" class="btn btn-primary"
            tooltip="Submit the form to add a new model.">
            <i class="bi bi-file-earmark-plus"></i> Add Model
          </button>
        </div>
        <div class="col">
          <div class="p-1 g-col-1">
            <button type="button" (click)="generateModel()" class="btn btn-generate">
              <i class="bi bi-bookmark-plus"></i> Generate Random Model Data
            </button>
          </div>
          @if (!isProduction) {
            <!-- Debug information is displayed only when not in production mode -->
            <pre class="bg-light p-2 border rounded">{{ getFormValues() }}</pre>
            <p class="text-secondary fw-bold">Current Form Values:</p>
            @if (!isProduction) {
              <pre class="bg-light p-2 border rounded">{{ addModelForm.value | json }}</pre>
            }
          }
        </div>
      </div>
    </form>
  </div>
</div>
