<h2>Add devices</h2>

<div class="container">
  <div class="row">
    <div class="col-6">
      <label for="FormControlName" class="form-label">Name</label>
      <input
        type="name"
        class="form-control"
        id="FormControlName"
        aria-label="FormControlName"
        placeholder="uuid"
        [formControl]="nameControl"
      />
    </div>

    <div class="col-3">
      <label for="FormControlInputCategory" class="form-label">Category</label>
      <select class="form-select" aria-label="FormControlInputCategory">
        <option
          *ngFor="
            let item of this.deviceCategory.deviceCategories;
            let i = index
          "
          [value]="item.Category"
          [selected]="i == 2"
        >
          {{ item.Category }}
        </option>
      </select>
    </div>

    <div class="col-3">
      <label for="FormControlInputType" class="form-label">Type</label>
      <select class="form-select" aria-label="FormControlInputType">
        <option
          *ngFor="let item of this.deviceTypes.deviceTypeList; let i = index"
          [value]="item.DeviceType"
          [selected]="i == 2"
        >
          {{ item.DeviceType }}
        </option>
      </select>
    </div>
  </div>

  <div class="col-6 p-2">
    <button class="btn btn-primary" type="submit" (click)="addDevice()">
      <i class="bi bi-plus-lg"></i> Add device
    </button>
  </div>
</div>

<h2>List devices</h2>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="list-group" id="list-tab" role="tablist">
        <a
          *ngFor="let deviceItem of deviceList"
          class="list-group-item list-group-item-action"
          id="list-{{ deviceItem.id }}-list"
          data-bs-toggle="list"
          href="#list-{{ deviceItem.id }}"
          role="tab"
          aria-controls="profile"
          [attr.aria-controls]="['list-', deviceItem.id]"
          [title]="deviceItem.name + ' details'"
        >
          <div class="container text-left">
            <div class="row">
              <div class="col">
                {{ deviceItem.name }}
              </div>
              <div class="col">
                {{ deviceItem.category.Category }}
              </div>
              <div class="col">
                {{ deviceItem.type }}
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-6">
      <div class="tab-content" id="nav-tabContent">
        <div
          *ngFor="let deviceItem of deviceList"
          class="tab-pane fade"
          role="tabpanel"
          [attr.aria-labelledby]="['list-', deviceItem.id, '-list']"
          id="list-{{ deviceItem.id }}"
        >
          {{ deviceItem.category.Description }}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const triggerTabList = document.querySelectorAll('#list-tab a')
  triggerTabList.forEach((triggerEl) => {
    const tabTrigger = new bootstrap.Tab(triggerEl)

    triggerEl.addEventListener('click', (event) => {
      event.preventDefault()
      tabTrigger.show()
    })
  })
</script>

<app-log></app-log>
