<div class="container wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="inner">
        <h3>Models</h3>
        <table class="table table-striped table-dark table-hover">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Dimensions</th>
              <th scope="col">Textures</th>
              <th scope="col">Type</th>
              <th scope="col">Category</th>
              <th scope="col">Operations</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let model of ModelsList
                  | paginate
                    : {
                        id: 'modelPagination',
                        itemsPerPage: 5,
                        currentPage: page
                      }
              "
            >
              <td>{{ model.id }}</td>
              <td>{{ model.name }}</td>
              <td>
                {{
                  'width: ' +
                    model.dimension.width +
                    ', height: ' +
                    model.dimension.height +
                    ', deep: ' +
                    model.dimension.depth
                }}
              </td>
              <td>
                <a href="{{ model.texture.front }}">front</a>,
                <a href="{{ model.texture.back }}">back</a>,
                <a href="{{ model.texture.side }}">side</a>,
                <a href="{{ model.texture.top }}">top</a>,
                <a href="{{ model.texture.botom }}">botom</a>
              </td>
              <td>{{ model.type }}</td>
              <td>{{ model.category }}</td>
              <td>
                <div
                  class="btn-group"
                  role="group"
                  aria-label="model-operations"
                >
                  <button
                    type="button"
                    class="btn btn-success btn-sm move-right"
                    id="edit-device"
                    (click)="EditForm(model)"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    id="delete-device"
                    class="btn btn-danger btn-sm"
                    (click)="deleteModel(model.id)"
                  >
                    Delete
                  </button>
                  <button
                    type="button"
                    id="clone-device"
                    class="btn btn-info btn-sm"
                    (click)="CloneModel(model.id)"
                  >
                    Clone
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <button
          type="button"
          class="btn btn-success btn-sm move-right mb-3"
          (click)="AddForm()"
        >
          <i class="bi bi-plus-lg"></i> Add
        </button>
      </div>
    </div>
  </div>
  <pagination-controls
    (pageChange)="page = $event"
    id="modelPagination"
  ></pagination-controls>
</div>

<app-log [component]="component"></app-log>
