<div class="container wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="inner">
        <h3>My Devices</h3>
        <table class="table table-striped table-dark table-hover">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Category</th>
              <th scope="col">Opertions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let device of DevicesList
                  | paginate
                    : {
                        id: 'devicePagination',
                        itemsPerPage: 5,
                        currentPage: p2
                      }
              "
            >
              <td>{{ device.id }}</td>
              <td>{{ device.name }}</td>
              <td>{{ device.type }}</td>
              <td>{{ device.category }}</td>
              <td>
                <div
                  class="btn-group"
                  role="group"
                  aria-label="device-operations"
                >
                  <button
                    type="button"
                    class="btn btn-success btn-sm move-right"
                    id="edit-device"
                    (click)="EditForm(device)"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    id="delete-device"
                    class="btn btn-danger btn-sm"
                    (click)="deleteDevice(device.id)"
                  >
                    Delete
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <button
          type="button"
          class="btn btn-success btn-sm move-right mb-3"
          (click)="AddForm()"
        >
          <i class="bi bi-plus-lg"></i> Add
        </button>
      </div>
    </div>
  </div>
</div>
<pagination-controls
  (pageChange)="p2 = $event"
  id="devicePagination"
></pagination-controls>
<app-log></app-log>
