<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3><i class="bi bi-motherboard"></i> Edit Model</h3>
      <form [formGroup]="editModelForm" (ngSubmit)="submitForm()" class="needs-validation" novalidate>
        <div class="row">
          <div class="col">
            <div class="form-group mb-3">
              <label for="form-id" class="form-label">Id</label>
              <input
                type="text"
                formControlName="id"
                id="form-id"
                minlength="1"
                required
                readonly
                [maxLength]="36"
                [ngClass]="{
                  'is-invalid': this.editModelForm.controls.id.status != 'VALID',
                  'is-valid': this.editModelForm.controls.id.status == 'VALID',
                  'form-control': true
                }" />
              <div *ngIf="this.editModelForm.controls.id.errors" class="invalid-feedback">
                <div *ngIf="this.editModelForm.controls.id.errors.required">Id is required</div>
                <div *ngIf="this.editModelForm.controls.id.errors.minlength">Id must be at least 4 characters</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-3">
              <label for="name" class="form-label">Name</label>
              <input
                [ngClass]="{
                  'is-invalid': this.editModelForm.controls.name.status != 'VALID',
                  'is-valid': this.editModelForm.controls.name.status == 'VALID',
                  'form-control': true
                }"
                formControlName="name"
                minlength="4"
                id="name"
                maxlength="255" />
              <div *ngIf="this.editModelForm.controls.name.errors" class="invalid-feedback">
                <div *ngIf="this.editModelForm.controls.name.errors.required">Name is required</div>
                <div *ngIf="this.editModelForm.controls.name.errors.minlength">Name must be at least 4 characters</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" formGroupName="dimension">
          <div class="col">
            <div class="form-group mb-3">
              <label for="width" class="form-label">Width</label>
              <input
                type="text"
                formControlName="width"
                id="width"
                maxlength="6"
                minlength="1"
                required
                [ngClass]="{
                  'is-invalid': this.editModelForm.controls.dimension.controls.width.status != 'VALID',
                  'is-valid': this.editModelForm.controls.dimension.controls.width.status == 'VALID',
                  'form-control': true
                }" />
              <div *ngIf="this.editModelForm.controls.dimension.controls.width.errors" class="invalid-feedback">
                <div *ngIf="this.editModelForm.controls.dimension.controls.width.errors.required">
                  Width is required
                </div>
                <div *ngIf="this.editModelForm.controls.dimension.controls.width.errors.minlength">
                  Width must be at least 1 number.
                </div>
                <div *ngIf="this.editModelForm.controls.dimension.controls.width.errors.maxlength">
                  Height must be at less 6 number
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-3">
              <label for="heigth" class="form-label">Height</label>
              <input
                type="text"
                formControlName="height"
                id="heigth"
                maxlength="6"
                minlength="1"
                required
                [ngClass]="{
                  'is-invalid': this.editModelForm.controls.dimension.controls.height.status != 'VALID',
                  'is-valid': this.editModelForm.controls.dimension.controls.height.status == 'VALID',
                  'form-control': true
                }" />
              <div *ngIf="this.editModelForm.controls.dimension.controls.height.errors" class="invalid-feedback">
                <div *ngIf="this.editModelForm.controls.dimension.controls.height.errors.required">
                  Height is required
                </div>
                <div *ngIf="this.editModelForm.controls.dimension.controls.height.errors.minlength">
                  Height must be at least 1 number
                </div>
                <div *ngIf="this.editModelForm.controls.dimension.controls.height.errors.maxlength">
                  Height must be at less 6 number
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-3">
              <label for="depth" class="form-label">Depth</label>
              <input
                type="text"
                formControlName="depth"
                id="depth"
                maxlength="4"
                minlength="1"
                required
                [ngClass]="{
                  'is-invalid': this.editModelForm.controls.dimension.controls.depth.status != 'VALID',
                  'is-valid': this.editModelForm.controls.dimension.controls.depth.status == 'VALID',
                  'form-control': true
                }" />
              <div *ngIf="this.editModelForm.controls.dimension.controls.depth.errors" class="invalid-feedback">
                <div *ngIf="this.editModelForm.controls.dimension.controls.depth.errors.required">
                  Depth is required
                </div>
                <div *ngIf="this.editModelForm.controls.dimension.controls.depth.errors.minlength">
                  Depth must be at least 1 number
                </div>
                <div *ngIf="this.editModelForm.controls.dimension.controls.depth.errors.maxlength">
                  Height must be at less 6 number
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" formGroupName="texture">
          <div class="col">
            <div class="form-group mb-3">
              <label for="front" class="form-label">Front</label>
              <input
                type="text"
                formControlName="front"
                id="front"
                [ngClass]="{
                  'is-invalid': this.editModelForm.controls.texture.controls.front.status != 'VALID',
                  'is-valid': this.editModelForm.controls.texture.controls.front.status == 'VALID',
                  'form-control': true
                }" />
              <div *ngIf="this.editModelForm.controls.texture.controls.front.errors" class="invalid-feedback">
                <div *ngIf="this.editModelForm.controls.texture.controls.front.errors.required">Width is required</div>
                <div *ngIf="this.editModelForm.controls.texture.controls.front.errors.minlength">
                  Width must be at least 1 number.
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-3">
              <label for="back" class="form-label">Back</label>
              <input
                type="text"
                formControlName="back"
                id="back"
                [ngClass]="{
                  'is-invalid': this.editModelForm.controls.texture.controls.back.status != 'VALID',
                  'is-valid': this.editModelForm.controls.texture.controls.back.status == 'VALID',
                  'form-control': true
                }" />
              <div *ngIf="this.editModelForm.controls.texture.controls.back.errors" class="invalid-feedback">
                <div *ngIf="this.editModelForm.controls.texture.controls.back.errors.required">
                  back side is required
                </div>
                <div *ngIf="this.editModelForm.controls.texture.controls.back.errors.minlength">
                  back must be at least 1 number
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-3">
              <label for="side" class="form-label">Side</label>
              <input
                type="text"
                formControlName="side"
                id="side"
                [ngClass]="{
                  'is-invalid': this.editModelForm.controls.texture.controls.side.status != 'VALID',
                  'is-valid': this.editModelForm.controls.texture.controls.side.status == 'VALID',
                  'form-control': true
                }" />
              <div *ngIf="this.editModelForm.controls.texture.controls.side.errors" class="invalid-feedback">
                <div *ngIf="this.editModelForm.controls.texture.controls.side.errors.required">side is required</div>
                <div *ngIf="this.editModelForm.controls.texture.controls.side.errors.minlength">
                  side must be at least 1 number
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-3">
              <label for="top" class="form-label">Top</label>
              <input
                type="text"
                formControlName="top"
                id="top"
                [ngClass]="{
                  'is-invalid': this.editModelForm.controls.texture.controls.top.status != 'VALID',
                  'is-valid': this.editModelForm.controls.texture.controls.top.status == 'VALID',
                  'form-control': true
                }" />
              <div *ngIf="this.editModelForm.controls.texture.controls.top.errors" class="invalid-feedback">
                <div *ngIf="this.editModelForm.controls.texture.controls.top.errors">Top is required</div>
                <div *ngIf="this.editModelForm.controls.texture.controls.top.errors">Top must be at least 1 number</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-3">
              <label for="botom" class="form-label">Botom</label>
              <input
                type="text"
                formControlName="botom"
                id="botom"
                [ngClass]="{
                  'is-invalid': this.editModelForm.controls.type.status != 'VALID',
                  'is-valid': this.editModelForm.controls.type.status == 'VALID',
                  'form-control': true
                }" />
              <div *ngIf="this.editModelForm.controls.texture.controls.botom.errors" class="invalid-feedback">
                <div *ngIf="this.editModelForm.controls.texture.controls.botom.errors.required">Botom is required</div>
                <div *ngIf="this.editModelForm.controls.texture.controls.botom.errors.minlength">
                  Botom must be at least 2 characters
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group mb-3">
              <label for="type" class="form-label">Type</label>
              <select
                (change)="changeType($event)"
                formControlName="type"
                [ngClass]="{
                  'is-invalid': this.editModelForm.controls.type.status != 'VALID',
                  'is-valid': this.editModelForm.controls.type.status == 'VALID',
                  'form-select': true
                }"
                id="type">
                <option *ngFor="let typeObj of deviceTypeDict.list; let i = index">
                  {{ typeObj.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-3">
              <label for="category" class="form-label">Category</label>
              <select
                (change)="changeCategory($event)"
                formControlName="category"
                [ngClass]="{
                  'is-invalid': this.editModelForm.controls.category.status != 'VALID',
                  'is-valid': this.editModelForm.controls.category.status == 'VALID',
                  'form-select': true
                }"
                id="category">
                <option *ngFor="let categoryObj of deviceCategoryDict.list; let i = index">
                  {{ categoryObj.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button
              type="button"
              [disabled]="!(editModelForm.valid && editModelForm.touched)"
              class="btn btn-primary"
              (click)="this.submitForm()"
              tooltip="Update device.">
              Update
            </button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-success" (click)="this.DeleteForm()" tooltip="Delete device.">
              <i class="bi bi-minus-lg"></i>Delete
            </button>
          </div>
        </div>
        <div *ngIf="editModelForm.valid && editModelForm.touched" class="invalid-feedback">Form is valid</div>
        <p class="valid-feedback">Form Status: {{ editModelForm.status }}.</p>
      </form>
    </div>
  </div>
</div>
<app-log [component]="component"></app-log>
