<div class="container-fluid">
  <h2><i class="bi bi-grid-3x3-gap"></i> Add Attribute Dictionary</h2>
  <form [formGroup]="addAttributeDictionaryForm" (ngSubmit)="submitForm()" class="needs-validation" novalidate>
    <div class="form-group mb-3">
      <label for="name" class="form-label">Name</label>
      <textarea [ngClass]="{
          'is-invalid': this.addAttributeDictionaryForm.controls.name.status !== 'VALID',
          'is-valid': this.addAttributeDictionaryForm.controls.name.status === 'VALID',
          'form-control': true,
        }" formControlName="name" id="name" required></textarea>
      @if (this.addAttributeDictionaryForm.controls.name.errors) {
        <div class="invalid-feedback">
          @if (this.addAttributeDictionaryForm.controls.name.errors.required) {
            <div>Attribute name is required</div>
          }
          @if (this.addAttributeDictionaryForm.controls.name.errors.minlength) {
            <div>
              Attribute name must be at least 6 characters
            </div>
          }
        </div>
      }
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group mb-3">
          <label for="type" class="form-label">Type</label>
          <select (change)="changeType($event)" formControlName="type" [ngClass]="{
              'is-invalid': this.addAttributeDictionaryForm.controls.type.status !== 'VALID',
              'is-valid': this.addAttributeDictionaryForm.controls.type.status === 'VALID',
              'form-select': true,
            }" id="type">
            @for (typeObj of deviceTypeDict['list']; track typeObj; let i = $index) {
              <option>
                {{ typeObj.name }}
              </option>
            }
          </select>
          @if (this.addAttributeDictionaryForm.controls.type.errors) {
            <div class="invalid-feedback">
              @if (this.addAttributeDictionaryForm.controls.type.errors.required) {
                <div>Category is required</div>
              }
            </div>
          }
          <div>
            {{ this.toString(this.addAttributeDictionaryForm.controls.type.dirty) }}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group mb-3">
          <label for="componentName" class="form-label">Component Name</label>
          <select (change)="changeComponentName($event)" formControlName="componentName" id="componentName"
            [ngClass]="{
              'is-invalid': this.addAttributeDictionaryForm.controls.componentName.status !== 'VALID',
              'is-valid': this.addAttributeDictionaryForm.controls.componentName.status === 'VALID',
              'form-select': true,
            }">
            @for (componentObj of componentDictionary.getAll(); track componentObj; let i = $index) {
              <option>
                {{ componentObj.name }}
              </option>
            }
          </select>
          @if (this.addAttributeDictionaryForm.controls.componentName.errors) {
            <div class="invalid-feedback">
              @if (this.addAttributeDictionaryForm.controls.componentName.errors.required) {
                <div>Component Name is
                  required
                </div>
              }
            </div>
          }
        </div>
      </div>
      <div class="col">
        <div class="form-group mb-3">
          <label for="unit" class="form-label">Unit</label>
          <select (change)="changeUnit($event)" formControlName="unit" [ngClass]="{
              'is-invalid': this.addAttributeDictionaryForm.controls.unit.status !== 'VALID',
              'is-valid': this.addAttributeDictionaryForm.controls.unit.status === 'VALID',
              'form-select': true,
            }" id="unit">
            @for (componentObj of unitDictionary.getAllUnits(); track componentObj; let i = $index) {
              <option>
                {{ componentObj.name }}
              </option>
            }
          </select>
          @if (this.addAttributeDictionaryForm.controls.unit.errors) {
            <div class="invalid-feedback">
              @if (this.addAttributeDictionaryForm.controls.unit.errors.required) {
                <div>Unit is required
                </div>
              }
            </div>
          }
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea formControlName="description" id="description" [ngClass]="{
              'is-invalid': this.addAttributeDictionaryForm.controls.description.status !== 'VALID',
              'is-valid': this.addAttributeDictionaryForm.controls.description.status === 'VALID',
              'form-control': true,
            }">{{ this.addAttributeDictionaryForm.value.description }}</textarea>
          @if (this.addAttributeDictionaryForm.controls.description.errors) {
            <div class="invalid-feedback">
              @if (this.addAttributeDictionaryForm.controls.description.errors.required) {
                <div>Description is
                required</div>
              }
            </div>
          }
        </div>
      </div>
      <div class="form-group mb-3">
        <button type="submit" [disabled]="isFormInvalid" class="btn btn-primary">
          Add model
        </button>
        @if (isFormInvalid) {
          <div class="form-error-message">
            Form is invalid
          </div>
        }
      </div>
    </div>
  </form>
</div>
