<header>
  <nav class="navbar navbar-dark bg-dark navbar-expand-sm p-2">
    <div class="container-fluid nav nav-pills">
      <a class="navbar-brand nav-link" id="title" routerLink="/home" routerLinkActive="active fluffy"
        ariaCurrentWhenActive="page">3d inventory</a>
      <a class="nav-link" routerLink="/home" routerLinkActive="active fluffy" ariaCurrentWhenActive="page">Home</a>
      <a class="nav-link" routerLink="/cube" routerLinkActive="active" ariaCurrentWhenActive="page">Cube</a>
      <a class="nav-link" routerLink="/device-list" routerLinkActive="active" ariaCurrentWhenActive="page">Devices</a>
      <a class="nav-link" routerLink="/models-list" routerLinkActive="active" ariaCurrentWhenActive="page">Models</a>
      <a class="nav-link" routerLink="/attribute-list" routerLinkActive="active"
        ariaCurrentWhenActive="page">Attributes</a>
      <a class="nav-link" routerLink="/attribute-dictionary-list" routerLinkActive="active"
        ariaCurrentWhenActive="page">Attribute Dictionary</a>
      <a class="nav-link" routerLink="/connection-list" routerLinkActive="active"
        ariaCurrentWhenActive="page">Connections</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>
<main>
  <div class="container" style="max-width: 1920px">
    <router-outlet></router-outlet>
  </div>
</main>