<div class="container-fluid">
  <h3><i class="bi bi-building"></i> Add Floor</h3>
  <form [formGroup]="floorForm" (ngSubmit)="submitForm()" class="g-3 needs-validation" novalidate>
    <div class="form-group mb-3">
      <label for="id" class="form-label">Id: {{ this.floorForm.controls._id.value }} </label>
    </div>

    <div class="col border">
      <div class="form-group mb-3">
        <label for="name" class="form-label">Name</label>
        <textarea
          formControlName="name"
          rows="2"
          minlength="4"
          maxlength="4000"
          required
          [ngClass]="{
            'is-invalid': this.floorForm.controls.name.status !== 'VALID',
            'is-valid': this.floorForm.controls.name.status === 'VALID',
            'form-control': true,
          }"></textarea>
        <div *ngIf="this.floorForm.controls.name.errors" class="invalid-feedback">
          <div *ngIf="this.floorForm.controls.name.errors.required">Name is required</div>
          <div *ngIf="this.floorForm.controls.name.errors.minlength">Name must be at least 4 characters</div>
        </div>
      </div>

      <div formGroupName="address">
        <div class="row">
          <div class="col">
            <div class="form-group mb-3">
              <label for="street" class="form-label">Street</label>
              <input
                type="text"
                formControlName="street"
                id="street"
                required
                [ngClass]="{
                  'is-invalid': floorForm.controls.address.controls.street.status !== 'VALID',
                  'is-valid': floorForm.controls.address.controls.street.status === 'VALID',
                  'form-control': true,
                }" />
              <div *ngIf="this.floorForm.controls.address.controls.street.errors" class="invalid-feedback">
                <div *ngIf="this.floorForm.controls.address.controls.street.errors.required">Street is required</div>
                <div *ngIf="this.floorForm.controls.address.controls.street.errors.minlength">
                  Street must be at least 1 characters
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-3">
              <label for="city" class="form-label">City</label>
              <input
                type="text"
                formControlName="city"
                id="city"
                required
                [ngClass]="{
                  'is-invalid': this.floorForm.controls.address.controls.city.status !== 'VALID',
                  'is-valid': this.floorForm.controls.address.controls.city.status === 'VALID',
                  'form-control': true,
                }" />
              <div *ngIf="this.floorForm.controls.address.controls.city.errors" class="invalid-feedback">
                <div *ngIf="this.floorForm.controls.address.controls.city.errors.required">City is required</div>
                <div *ngIf="this.floorForm.controls.address.controls.city.errors.minlength">
                  City must be at least 1 characters
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-3">
              <label for="country" class="form-label">Country</label>
              <input
                type="text"
                formControlName="country"
                id="country"
                required
                [ngClass]="{
                  'is-invalid': this.floorForm.controls.address.controls.country.status !== 'VALID',
                  'is-valid': this.floorForm.controls.address.controls.country.status === 'VALID',
                  'form-control': true,
                }" />
              <div *ngIf="this.floorForm.controls.address.controls.country.errors" class="invalid-feedback">
                <div *ngIf="this.floorForm.controls.address.controls.country.errors.required">country is required</div>
                <div *ngIf="this.floorForm.controls.address.controls.country.errors.minlength">
                  country must be at least 1 characters
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-3">
              <label for="postcode" class="form-label">postcode</label>
              <input
                type="text"
                formControlName="postcode"
                id="postcode"
                required
                [ngClass]="{
                  'is-invalid': this.floorForm.controls.address.controls.postcode.status !== 'VALID',
                  'is-valid': this.floorForm.controls.address.controls.postcode.status === 'VALID',
                  'form-control': true,
                }" />
              <div *ngIf="this.floorForm.controls.address.controls.postcode.errors" class="invalid-feedback">
                <div *ngIf="this.floorForm.controls.address.controls.postcode.errors.required">
                  postcode is required
                </div>
                <div *ngIf="this.floorForm.controls.address.controls.postcode.errors.minlength">
                  postcode must be at least 1 characters
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h4>Add Dimensions</h4>

    <div class="border">
      <div formArrayName="dimension">
        <div *ngFor="let dimensionForm of dimension.controls; let i = index">
          <div formGroupName="{{ i }}">
            <div class="row">
              <div class="col">
                <div class="form-group mb-3">
                  <label for="description" class="form-label">Description</label>
                  <textarea
                    formControlName="description"
                    rows="2"
                    minlength="4"
                    maxlength="4000"
                    required
                    [ngClass]="{
                      'is-invalid': this.floorForm.controls.dimension.at(i).controls.description.status !== 'VALID',
                      'is-valid': this.floorForm.controls.dimension.at(i).controls.description.status === 'VALID',
                      'form-control': true,
                    }"></textarea>
                  <div
                    *ngIf="this.floorForm.controls.dimension.at(i).controls.description.errors"
                    class="invalid-feedback">
                    <div *ngIf="this.floorForm.controls.dimension.at(i).controls.description.errors?.required">
                      description is required
                    </div>
                    <div *ngIf="this.floorForm.controls.dimension.at(i).controls.description.errors?.minlength">
                      description must be at least 4 characters
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group mb-3">
                  <label for="xPos" class="form-label">X position</label>
                  <input
                    type="text"
                    formControlName="xPos"
                    id="xPos"
                    required
                    [ngClass]="{
                      'is-invalid': this.floorForm.controls.dimension.at(i).controls.xPos.status !== 'VALID',
                      'is-valid': this.floorForm.controls.dimension.at(i).controls.xPos.status === 'VALID',
                      'form-control': true,
                    }" />
                  <div *ngIf="this.floorForm.controls.dimension.at(i).controls.xPos.errors" class="invalid-feedback">
                    <div *ngIf="this.floorForm.controls.dimension.at(i).controls.xPos.errors?.required">
                      X position is required
                    </div>
                    <div *ngIf="this.floorForm.controls.dimension.at(i).controls.xPos.errors?.minlength">
                      X position must be at least 1 characters
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group mb-3">
                  <label for="yPos" class="form-label">Y position</label>
                  <input
                    type="text"
                    formControlName="yPos"
                    id="yPos"
                    required
                    [ngClass]="{
                      'is-invalid': this.floorForm.controls.dimension.at(i).controls.yPos.status !== 'VALID',
                      'is-valid': this.floorForm.controls.dimension.at(i).controls.yPos.status === 'VALID',
                      'form-control': true,
                    }" />
                  <div *ngIf="this.floorForm.controls.dimension.at(i).controls.yPos.errors" class="invalid-feedback">
                    <div *ngIf="this.floorForm.controls.dimension.at(i).controls.yPos.errors?.required">
                      Y is required
                    </div>
                    <div *ngIf="this.floorForm.controls.dimension.at(i).controls.yPos.errors?.minlength">
                      Y must be at least 1 characters
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group mb-3">
                  <label for="hPos" class="form-label">H position</label>
                  <input
                    type="text"
                    formControlName="hPos"
                    id="hPos"
                    required
                    [ngClass]="{
                      'is-invalid': this.floorForm.controls.dimension.at(i).controls.hPos.status !== 'VALID',
                      'is-valid': this.floorForm.controls.dimension.at(i).controls.hPos.status === 'VALID',
                      'form-control': true,
                    }" />
                  <div *ngIf="this.floorForm.controls.dimension.at(i).controls.hPos.errors" class="invalid-feedback">
                    <div *ngIf="this.floorForm.controls.dimension.at(i).controls.hPos.errors?.required">
                      H is required
                    </div>
                    <div *ngIf="this.floorForm.controls.dimension.at(i).controls.hPos.errors?.minlength">
                      H must be at least 1 characters
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group mb-3">
                  <label for="x" class="form-label">X</label>
                  <input
                    type="text"
                    formControlName="x"
                    id="x"
                    required
                    [ngClass]="{
                      'is-invalid': this.floorForm.controls.dimension.at(i).controls.x.status !== 'VALID',
                      'is-valid': this.floorForm.controls.dimension.at(i).controls.x.status === 'VALID',
                      'form-control': true,
                    }" />
                  <div *ngIf="this.floorForm.controls.dimension.at(i).controls.x.errors" class="invalid-feedback">
                    <div *ngIf="this.floorForm.controls.dimension.at(i).controls.x.errors?.required">X is required</div>
                    <div *ngIf="this.floorForm.controls.dimension.at(i).controls.x.errors?.minlength">
                      X must be at least 1 characters
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group mb-3">
                  <label for="y" class="form-label">Y</label>
                  <input
                    type="text"
                    formControlName="y"
                    id="y"
                    required
                    [ngClass]="{
                      'is-invalid': this.floorForm.controls.dimension.at(i).controls.y.status !== 'VALID',
                      'is-valid': this.floorForm.controls.dimension.at(i).controls.y.status === 'VALID',
                      'form-control': true,
                    }" />
                  <div *ngIf="this.floorForm.controls.dimension.at(i).controls.y.errors" class="invalid-feedback">
                    <div *ngIf="this.floorForm.controls.dimension.at(i).controls.y.errors?.required">Y is required</div>
                    <div *ngIf="this.floorForm.controls.dimension.at(i).controls.y.errors?.minlength">
                      Y must be at least 1 characters
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group mb-3">
                  <label for="h" class="form-label">H</label>
                  <input
                    type="text"
                    formControlName="h"
                    id="h"
                    required
                    [ngClass]="{
                      'is-invalid': this.floorForm.controls.dimension.at(i).controls.h.status !== 'VALID',
                      'is-valid': this.floorForm.controls.dimension.at(i).controls.h.status === 'VALID',
                      'form-control': true,
                    }" />
                  <div *ngIf="this.floorForm.controls.dimension.at(i).controls.h.errors" class="invalid-feedback">
                    <div *ngIf="this.floorForm.controls.dimension.at(i).controls.h.errors?.required">h is required</div>
                    <div *ngIf="this.floorForm.controls.dimension.at(i).controls.h.errors?.minlength">
                      h must be at least 1 characters
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex p-2">
              <div class="p-1 g-col-1">
                <button type="button" (click)="addDimension()" class="btn btn-secondary">
                  <i class="bi bi-file-earmark-plus"></i> Add Dimension
                </button>
              </div>
              <div class="p-1 g-col-1 column-gap-3">
                <button type="button" (click)="deleteDimension(i)" class="btn btn-warning">
                  <i class="bi bi-file-earmark-minus"></i> Delete Dimension
                </button>
              </div>
              <div class="p-1 g-col-1 column-gap-3">
                <button type="button" (click)="this.generateDimension(i)" class="btn btn-debug">
                  <i class="bi bi-bookmark-plus"></i> Generate random Dimension {{ i }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <p>
          Form Status: <code>{{ floorForm.status }}</code>
        </p>
        <p>
          Form Values: <code>{{ toText(floorForm.value) }}</code>
        </p>
        <div class="d-flex p-2">
          <div class="p-1 g-col-1">
            <button type="submit" [disabled]="!(floorForm.valid && floorForm.touched)" class="btn btn-primary mb-3">
              <i class="bi bi-save"></i> Save
            </button>
          </div>
          <div class="p-1 g-col-1">
            <button type="button" (click)="generateFloor()" class="btn btn-debug">
              <i class="bi bi-bookmark-plus"></i> Generate random data
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
