<div class="container-fluid">
  <h3><i class="bi bi-building"></i> Add Floor</h3>
  <form [formGroup]="floorForm" (ngSubmit)="onSubmit()" class="g-3 needs-validation" novalidate>
    <div class="col border">
      <div class="form-group mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" id="name" formControlName="name" minlength="4" maxlength="4000" required [ngClass]="{
                    'is-invalid': floorForm.get('name')?.invalid && (floorForm.get('name')?.touched || floorForm.get('name')?.dirty),
                    'is-valid': floorForm.get('name')?.valid && (floorForm.get('name')?.touched || floorForm.get('name')?.dirty),
                    'form-control': true,
                  }" />
        <div
          *ngIf="floorForm.get('name')?.errors && (floorForm.get('name')?.touched || floorForm.get('name')?.dirty)"
          class="invalid-feedback">
          <div *ngIf="floorForm.get('name')?.errors?.required">Name is required</div>
          <div *ngIf="floorForm.get('name')?.errors?.minlength">Name must be at least 4 characters</div>
        </div>
      </div>
      <div formGroupName="address">
        <div class="row">
          <div class="col">
            <div class="form-group mb-3">
              <label for="street" class="form-label">Street</label>
              <input type="text" formControlName="street" id="street" required [ngClass]="{
                                'is-invalid': floorForm.get('address.street')?.invalid && (floorForm.get('address.street')?.touched || floorForm.get('address.street')?.dirty),
                                'is-valid': floorForm.get('address.street')?.valid && (floorForm.get('address.street')?.touched || floorForm.get('address.street')?.dirty),
                                'form-control': true,
                              }" />
              <div
                *ngIf="floorForm.get('address.street')?.errors && (floorForm.get('address.street')?.touched || floorForm.get('address.street')?.dirty)"
                class="invalid-feedback">
                <div *ngIf="floorForm.get('address.street')?.errors?.required">Street is required</div>
                <div *ngIf="floorForm.get('address.street')?.errors?.minlength">
                  Street must be at least 1 character
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-3">
              <label for="city" class="form-label">City</label>
              <input type="text" id="city" formControlName="city" required minlength="1" [ngClass]="{
                  'form-control': true,
                  'is-invalid': floorForm.get('address.city')?.invalid && (floorForm.get('address.city')?.touched || floorForm.get('address.city')?.dirty),
                  'is-valid': floorForm.get('address.city')?.valid && (floorForm.get('address.city')?.touched || floorForm.get('address.city')?.dirty)
                }" />
              <div
                *ngIf="floorForm.get('address.city')?.errors && (floorForm.get('address.city')?.touched || floorForm.get('address.city')?.dirty)"
                class="invalid-feedback">
                <div *ngIf="floorForm.get('address.city')?.errors?.required">City is required</div>
                <div *ngIf="floorForm.get('address.city')?.errors?.minlength">City must be at least 1 character
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-3">
              <label for="country" class="form-label">Country</label>
              <input type="text" id="country" formControlName="country" required minlength="1" [ngClass]="{
                  'form-control': true,
                  'is-invalid': floorForm.get('address.country')?.invalid && (floorForm.get('address.country')?.touched || floorForm.get('address.country')?.dirty),
                  'is-valid': floorForm.get('address.country')?.valid && (floorForm.get('address.country')?.touched || floorForm.get('address.country')?.dirty)
                }" />
              <div
                *ngIf="floorForm.get('address.country')?.errors && (floorForm.get('address.country')?.touched || floorForm.get('address.country')?.dirty)"
                class="invalid-feedback">
                <div *ngIf="floorForm.get('address.country')?.errors?.required">Country is required</div>
                <div *ngIf="floorForm.get('address.country')?.errors?.minlength">
                  Country must be at least 1 character
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-3">
              <label for="postcode" class="form-label">Post code</label>
              <input type="text" id="postcode" formControlName="postcode" required minlength="1" [ngClass]="{
                  'form-control': true,
                  'is-invalid': floorForm.get('address.postcode')?.invalid && (floorForm.get('address.postcode')?.touched || floorForm.get('address.postcode')?.dirty),
                  'is-valid': floorForm.get('address.postcode')?.valid && (floorForm.get('address.postcode')?.touched || floorForm.get('address.postcode')?.dirty)
                }" />
              <div
                *ngIf="floorForm.get('address.postcode')?.errors && (floorForm.get('address.postcode')?.touched || floorForm.get('address.postcode')?.dirty)"
                class="invalid-feedback">
                <div *ngIf="floorForm.get('address.postcode')?.errors?.required">
                  Post code is required
                </div>
                <div *ngIf="floorForm.get('address.postcode')?.errors?.minlength">
                  Post code must be at least 1 character
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h4>Add Dimensions</h4>

    <div class="border">
      <div formArrayName="dimension">
        <div *ngFor="let dimensionForm of dimension.controls; let i = index">
          <div [formGroupName]="i">
            <div class="row">
              <div class="col">
                <div class="form-group mb-3">
                  <label for="description-{{i}}" class="form-label">Description</label>
                  <textarea id="description-{{i}}" formControlName="description" rows="2" minlength="4"
                    maxlength="4000" required [ngClass]="{
                      'form-control': true,
                      'is-invalid': getDimension(i, 'description')?.invalid && (getDimension(i, 'description')?.touched || getDimension(i, 'description')?.dirty),
                      'is-valid': getDimension(i, 'description')?.valid && (getDimension(i, 'description')?.touched || getDimension(i, 'description')?.dirty)
                    }"></textarea>
                  <div
                    *ngIf="getDimension(i, 'description')?.errors && (getDimension(i, 'description')?.touched || getDimension(i, 'description')?.dirty)"
                    class="invalid-feedback">
                    <div *ngIf="getDimension(i, 'description')?.errors?.required">
                      Description is required
                    </div>
                    <div *ngIf="getDimension(i, 'description')?.errors?.minlength">
                      Description must be at least 4 characters
                    </div>
                    <div *ngIf="getDimension(i, 'description')?.errors?.maxlength">
                      Description cannot exceed 4000 characters
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group mb-3">
                  <label for="xPos-{{i}}" class="form-label">X position</label>
                  <input type="text" id="xPos-{{i}}" formControlName="xPos" required [ngClass]="{
                      'form-control': true,
                      'is-invalid': getDimension(i, 'xPos')?.invalid && (getDimension(i, 'xPos')?.touched || getDimension(i, 'xPos')?.dirty),
                      'is-valid': getDimension(i, 'xPos')?.valid && (getDimension(i, 'xPos')?.touched || getDimension(i, 'xPos')?.dirty)
                    }" />
                  <div
                    *ngIf="getDimension(i, 'xPos')?.errors && (getDimension(i, 'xPos')?.touched || getDimension(i, 'xPos')?.dirty)"
                    class="invalid-feedback">
                    <div *ngIf="getDimension(i, 'xPos')?.errors?.required">
                      X position is required
                    </div>
                    <div *ngIf="getDimension(i, 'xPos')?.errors?.minlength">
                      X position must be at least 1 character
                    </div>
                    <div *ngIf="getDimension(i, 'xPos')?.errors?.maxlength">
                      X position cannot exceed {{ getDimension(i, 'xPos')?.errors?.maxlength.requiredLength }}
                      characters
                    </div>
                    <div *ngIf="getDimension(i, 'xPos')?.errors?.pattern">
                      X position must be a valid number
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group mb-3">
                  <label for="yPos-{{i}}" class="form-label">Y position</label>
                  <input type="text" id="yPos-{{i}}" formControlName="yPos" required [ngClass]="{
                      'form-control': true,
                      'is-invalid': getDimension(i, 'yPos')?.invalid && (getDimension(i, 'yPos')?.touched || getDimension(i, 'yPos')?.dirty),
                      'is-valid': getDimension(i, 'yPos')?.valid && (getDimension(i, 'yPos')?.touched || getDimension(i, 'yPos')?.dirty)
                    }" />
                  <div
                    *ngIf="getDimension(i, 'yPos')?.errors && (getDimension(i, 'yPos')?.touched || getDimension(i, 'yPos')?.dirty)"
                    class="invalid-feedback">
                    <div *ngIf="getDimension(i, 'yPos')?.errors?.required">
                      Y position is required
                    </div>
                    <div *ngIf="getDimension(i, 'yPos')?.errors?.minlength">
                      Y position must be at least 1 character
                    </div>
                    <div *ngIf="getDimension(i, 'yPos')?.errors?.maxlength">
                      Y position cannot exceed {{ getDimension(i, 'yPos')?.errors?.maxlength.requiredLength }}
                      characters
                    </div>
                    <div *ngIf="getDimension(i, 'yPos')?.errors?.pattern">
                      Y position must be a valid number
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group mb-3">
                  <label for="hPos-{{i}}" class="form-label">H position</label>
                  <input type="text" id="hPos-{{i}}" formControlName="hPos" required [ngClass]="{
                      'form-control': true,
                      'is-invalid': getDimension(i, 'hPos')?.invalid && (getDimension(i, 'hPos')?.touched || getDimension(i, 'hPos')?.dirty),
                      'is-valid': getDimension(i, 'hPos')?.valid && (getDimension(i, 'hPos')?.touched || getDimension(i, 'hPos')?.dirty)
                    }" />
                  <div
                    *ngIf="getDimension(i, 'hPos')?.errors && (getDimension(i, 'hPos')?.touched || getDimension(i, 'hPos')?.dirty)"
                    class="invalid-feedback">
                    <div *ngIf="getDimension(i, 'hPos')?.errors?.required">
                      H position is required
                    </div>
                    <div *ngIf="getDimension(i, 'hPos')?.errors?.minlength">
                      H position must be at least {{ getDimension(i, 'hPos')?.errors?.minlength.requiredLength }}
                      characters
                    </div>
                    <div *ngIf="getDimension(i, 'hPos')?.errors?.maxlength">
                      H position cannot exceed {{ getDimension(i, 'hPos')?.errors?.maxlength.requiredLength }}
                      characters
                    </div>
                    <div *ngIf="getDimension(i, 'hPos')?.errors?.pattern">
                      H position must be a valid number
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group mb-3">
                  <label for="dimension-x-{{i}}" class="form-label">X</label>
                  <input type="text" id="dimension-x-{{i}}" formControlName="x" required [ngClass]="{
                      'form-control': true,
                      'is-invalid': getDimension(i, 'x')?.invalid && (getDimension(i, 'x')?.touched || getDimension(i, 'x')?.dirty),
                      'is-valid': getDimension(i, 'x')?.valid && (getDimension(i, 'x')?.touched || getDimension(i, 'x')?.dirty)
                    }" />
                  <div
                    *ngIf="getDimension(i, 'x')?.errors && (getDimension(i, 'x')?.touched || getDimension(i, 'x')?.dirty)"
                    class="invalid-feedback">
                    <div *ngIf="getDimension(i, 'x')?.errors?.required">X is required</div>
                    <div *ngIf="getDimension(i, 'x')?.errors?.minlength">
                      X must be at least {{ getDimension(i, 'x')?.errors?.minlength.requiredLength }} character
                    </div>
                    <div *ngIf="getDimension(i, 'x')?.errors?.maxlength">
                      X cannot exceed {{ getDimension(i, 'x')?.errors?.maxlength.requiredLength }} characters
                    </div>
                    <div *ngIf="getDimension(i, 'x')?.errors?.pattern">
                      X must be a valid number
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group mb-3">
                  <label for="dimension-y-{{i}}" class="form-label">Y</label>
                  <input type="text" id="dimension-y-{{i}}" formControlName="y" required [ngClass]="{
                      'form-control': true,
                      'is-invalid': getDimension(i, 'y')?.invalid && (getDimension(i, 'y')?.touched || getDimension(i, 'y')?.dirty),
                      'is-valid': getDimension(i, 'y')?.valid && (getDimension(i, 'y')?.touched || getDimension(i, 'y')?.dirty)
                    }" />
                  <div
                    *ngIf="getDimension(i, 'y')?.errors && (getDimension(i, 'y')?.touched || getDimension(i, 'y')?.dirty)"
                    class="invalid-feedback">
                    <div *ngIf="getDimension(i, 'y')?.errors?.required">Y is required</div>
                    <div *ngIf="getDimension(i, 'y')?.errors?.minlength">
                      Y must be at least {{ getDimension(i, 'y')?.errors?.minlength.requiredLength }} character
                    </div>
                    <div *ngIf="getDimension(i, 'y')?.errors?.maxlength">
                      Y cannot exceed {{ getDimension(i, 'y')?.errors?.maxlength.requiredLength }} characters
                    </div>
                    <div *ngIf="getDimension(i, 'y')?.errors?.pattern">
                      Y must be a valid number
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group mb-3">
                  <label for="dimension-h-{{i}}" class="form-label">H</label>
                  <input type="text" id="dimension-h-{{i}}" formControlName="h" required [ngClass]="{
                      'form-control': true,
                      'is-invalid': getDimension(i, 'h')?.invalid && (getDimension(i, 'h')?.touched || getDimension(i, 'h')?.dirty),
                      'is-valid': getDimension(i, 'h')?.valid && (getDimension(i, 'h')?.touched || getDimension(i, 'h')?.dirty)
                    }" />
                  <div
                    *ngIf="getDimension(i, 'h')?.errors && (getDimension(i, 'h')?.touched || getDimension(i, 'h')?.dirty)"
                    class="invalid-feedback">
                    <div *ngIf="getDimension(i, 'h')?.errors?.required">H is required</div>
                    <div *ngIf="getDimension(i, 'h')?.errors?.minlength">
                      H must be at least {{ getDimension(i, 'h')?.errors?.minlength.requiredLength }} character
                    </div>
                    <div *ngIf="getDimension(i, 'h')?.errors?.maxlength">
                      H cannot exceed {{ getDimension(i, 'h')?.errors?.maxlength.requiredLength }} characters
                    </div>
                    <div *ngIf="getDimension(i, 'h')?.errors?.pattern">
                      H must be a valid number
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex p-2">
              <div class="p-1 g-col-1">
                <button type="button" (click)="addDimension()" class="btn btn-success">
                  <i class="bi bi-file-earmark-plus"></i> Add Dimension
                </button>
              </div>
              <div class="p-1 g-col-1 column-gap-3">
                <button type="button" (click)="deleteDimension(i)" class="btn btn-danger">
                  <i class="bi bi-file-earmark-minus"></i> Delete Dimension
                </button>
              </div>
              <div class="p-1 g-col-1 column-gap-3">
                <button type="button" (click)="generateDimension(i)" class="btn brightness-20 btn-warning">
                  <i class="bi bi-bookmark-plus"></i> Generate random Dimension no. {{ i }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex p-2 small bg-blend-color text-body-tertiary">
      <div class="p-2 g-col-2">
        Form Status: <code>{{ floorForm.status }}</code>
      </div>
      <div class="p-2 g-col-2">
        Form Values: <code>{{ toText(floorForm.value) }}</code>
      </div>
    </div>

    <div class="d-flex p-2">
      <div class="p-2 g-col-2">
        <button type="submit" [disabled]="isSubmitDisabled" class="btn btn-primary mb-3">
          <i class="bi bi-save"></i> Save
        </button>
      </div>
      <div class="p-2 g-col-2">
        <button type="button" (click)="generateFloor()" class="btn btn-warning mb-3">
          <i class="bi bi-file-earmark-plus"></i> Generate random floor
        </button>
      </div>
    </div>
  </form>
</div>
