<div class="container-fluid">
  <div class="row">
    <h3><i class="bi bi-motherboard"></i> Add Model</h3>
    <form [formGroup]="addModelForm" (ngSubmit)="submitForm()" class="needs-validation" novalidate>
      <div class="row">
        <div class="col">
          <div class="form-group mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              [ngClass]="{
                'is-invalid':
                  addModelForm.controls.name.invalid &&
                  (addModelForm.controls.name.touched || addModelForm.controls.name.dirty),
                'is-valid': addModelForm.controls.name.valid,
                'form-control': true,
              }"
              formControlName="name"
              minlength="4"
              id="name"
              maxlength="255" />
            <div *ngIf="this.addModelForm.controls.name.errors" class="invalid-feedback">
              <div *ngIf="this.addModelForm.controls.name.errors.required">Name is required</div>
              <div *ngIf="this.addModelForm.controls.name.errors.minlength">Name must be at least 4 characters</div>
              <div *ngIf="this.addModelForm.get('texture.bottom')?.errors?.minlength">
                Bottom must be at least 2 characters long
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" formGroupName="dimension">
        <div class="col">
          <div class="form-group mb-3">
            <label for="width" class="form-label">Width</label>
            <input
              type="text"
              formControlName="width"
              id="width"
              maxlength="6"
              minlength="1"
              required
              [ngClass]="{
                'is-invalid':
                  addModelForm.get('dimension.width')?.invalid &&
                  (addModelForm.get('dimension.width')?.touched || addModelForm.get('dimension.width')?.dirty),
                'is-valid': this.addModelForm.get('dimension.width')?.valid,
                'form-control': true,
              }" />
            <div *ngIf="this.addModelForm.get('dimension.width')?.errors" class="invalid-feedback">
              <div *ngIf="this.addModelForm.get('dimension.width')?.errors?.required">Width is required</div>
              <div *ngIf="this.addModelForm.get('dimension.width')?.errors?.minlength">
                Width must be at least 1 character.
              </div>
            </div>
            <div
              class="form-control-feedback"
              *ngIf="addModelForm.errors && (addModelForm.dirty || addModelForm.touched)">
              <p *ngIf="addModelForm.errors.pattern" class="text-danger">Number Only</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group mb-3">
            <label for="height" class="form-label">Height</label>
            <input
              type="text"
              formControlName="height"
              id="height"
              maxlength="6"
              minlength="1"
              required
              [ngClass]="{
                'is-invalid': this.isFieldInvalid('dimension.height'),
                'is-valid': this.addModelForm.get('dimension.height')?.status === 'VALID',
                'form-control': true,
              }" />
            <div *ngIf="this.addModelForm.get('dimension.height')?.errors" class="invalid-feedback">
              <div *ngIf="this.addModelForm.get('dimension.height')?.errors?.required">Height is required</div>
              <div *ngIf="this.addModelForm.get('dimension.height')?.errors?.minlength">
                Height must be at least 1 number
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group mb-3">
            <label for="depth" class="form-label">Depth</label>
            <input
              type="text"
              formControlName="depth"
              id="depth"
              maxlength="4"
              minlength="1"
              required
              [ngClass]="{
                'is-invalid':
                  this.addModelForm.get('dimension.depth')?.invalid &&
                  (this.addModelForm.get('dimension.depth')?.touched ||
                    this.addModelForm.get('dimension.depth')?.dirty),
                'is-valid': this.addModelForm.get('dimension.depth')?.status === 'VALID',
                'form-control': true,
              }" />
            <div *ngIf="this.addModelForm.get('dimension.depth')?.errors" class="invalid-feedback">
              <div *ngIf="this.addModelForm.get('dimension.depth')?.errors?.required">Depth is required</div>
              <div *ngIf="this.addModelForm.get('dimension.depth')?.errors?.minlength">
                Depth must be at least 1 number
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" formGroupName="texture">
        <div class="col">
          <div class="form-group mb-3">
            <label for="front" class="form-label">Front</label>
            <input
              type="text"
              formControlName="front"
              id="front"
              [ngClass]="{
                'is-invalid':
                  this.addModelForm.get('texture.front')?.invalid &&
                  (this.addModelForm.get('texture.front')?.touched || this.addModelForm.get('texture.front')?.dirty),
                'is-valid': this.addModelForm.get('texture.front')?.status === 'VALID',
                'form-control': true,
              }" />
            <div *ngIf="this.addModelForm.get('texture')?.get('front')?.errors" class="invalid-feedback">
              <div *ngIf="this.addModelForm.get('texture')?.get('front')?.errors?.required">Front is required</div>
              <div *ngIf="this.addModelForm.get('texture')?.get('front')?.errors?.minlength">
                Front must be at least 1 number.
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group mb-3">
            <label for="back" class="form-label">Back</label>
            <input
              type="text"
              formControlName="back"
              id="back"
              [ngClass]="{
                'is-invalid':
                  this.addModelForm.get('texture.back')?.invalid &&
                  (this.addModelForm.get('texture.back')?.touched || this.addModelForm.get('texture.back')?.dirty),
                'is-valid': this.addModelForm.get('texture.back')?.status === 'VALID',
                'form-control': true,
              }" />
            <div *ngIf="this.addModelForm.get('texture')?.get('back')?.errors" class="invalid-feedback">
              <div *ngIf="this.addModelForm.get('texture')?.get('back')?.errors?.required">Back is required</div>
              <div *ngIf="this.addModelForm.get('texture')?.get('back')?.errors?.minlength">
                Back must be at least 1 character
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group mb-3">
            <label for="side" class="form-label">Side</label>
            <input
              type="text"
              formControlName="side"
              id="side"
              [ngClass]="{
                'is-invalid':
                  this.addModelForm.get('texture.side')?.invalid &&
                  (this.addModelForm.get('texture.side')?.touched || this.addModelForm.get('texture.side')?.dirty),
                'is-valid': this.addModelForm.get('texture.side')?.valid,
                'form-control': true,
              }" />
            <div *ngIf="this.addModelForm.get('texture.side')?.errors" class="invalid-feedback">
              <div *ngIf="this.addModelForm.get('texture.side')?.errors?.required">Side is required</div>
              <div *ngIf="this.addModelForm.get('texture.side')?.errors?.minlength">
                Side must be at least 1 character
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group mb-3">
            <label for="top" class="form-label">Top</label>
            <input
              type="text"
              formControlName="top"
              id="top"
              [ngClass]="{
                'is-invalid':
                  this.addModelForm.get('texture.top')?.invalid &&
                  (this.addModelForm.get('texture.top')?.touched || this.addModelForm.get('texture.top')?.dirty),
                'is-valid': this.addModelForm.get('texture.top')?.valid,
                'form-control': true,
              }" />
            <div *ngIf="this.addModelForm.get('texture.top')?.errors" class="invalid-feedback">
              <div *ngIf="this.addModelForm.get('texture')?.get('top')?.errors?.required">Top is required</div>
              <div *ngIf="this.addModelForm.get('texture')?.get('top')?.errors?.minlength">
                Top must be at least 1 character
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group mb-3">
            <label for="bottom" class="form-label">Bottom</label>
            <input
              type="text"
              formControlName="bottom"
              id="bottom"
              minlength="2"
              [ngClass]="{
                'is-invalid':
                  this.addModelForm.get('texture.bottom')?.invalid &&
                  (this.addModelForm.get('texture.bottom')?.touched || this.addModelForm.get('texture.bottom')?.dirty),
                'form-control': true,
              }" />
            <div *ngIf="this.addModelForm.get('texture.bottom')?.errors" class="invalid-feedback">
              <div *ngIf="this.addModelForm.get('texture.bottom')?.errors?.required">Bottom is required</div>
              <div *ngIf="this.addModelForm.get('texture.bottom')?.errors?.minlength">
                Bottom must be at least 2 characters.
              </div>
              <div *ngIf="textureGroup.controls.bottom.errors?.minlength">Bottom must be at least 2 characters...</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button [disabled]="isSubmitDisabled" class="btn btn-primary" tooltip="Click to create a new device model.">
            <i class="bi bi-file-earmark-plus"></i> Add Model
          </button>
        </div>
        <div class="col">
          <div class="p-1 g-col-1">
            <button type="button" (click)="generateModel()" class="btn btn-generate">
              <i class="bi bi-bookmark-plus"></i> Generate Random Model Data
            </button>
          </div>
          <ng-container *ngIf="!isProduction">
            <!-- Debug information is displayed only when not in production mode -->
            <pre class="bg-light p-2 border rounded">{{ getFormValues() }}</pre>
            <p class="text-secondary fw-bold">Current Form Values:</p>
            <pre class="bg-light p-2 border rounded">{{ addModelForm.value | json }}</pre>
          </ng-container>
        </div>
      </div>
    </form>
  </div>
</div>
