<div class="container-fluid">
  <h2><i class="bi bi-ethernet"></i> Add Connection</h2>
  <i class="bi bi-window-plus"></i>
  {{ this.toString(this.addConnectionForm.controls.id.value) }}
  <form [formGroup]="addConnectionForm" (ngSubmit)="submitForm()" class="needs-validation" novalidate>
    <div class="row">
      <div class="col">
        <div class="form-group mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            formControlName="name"
            id="name"
            [ngClass]="{
              'is-invalid': this.addConnectionForm.controls.name.status !== 'VALID',
              'is-valid': this.addConnectionForm.controls.name.status === 'VALID',
              'form-control': true,
            }"
            value="{{ this.addConnectionForm.value.name }}" />
          @if (addConnectionForm.get('name')?.invalid) {
            <div>
              @if (addConnectionForm.get('name')?.errors?.['required']) {
                <div>Name is required.</div>
              }
              @if (addConnectionForm.get('name')?.errors?.['minlength']) {
                <div>
                  Name must be at least 6 characters long.
                </div>
              }
            </div>
          }
          @if (
            (addConnectionForm.get('name')?.dirty || addConnectionForm.get('name')?.touched) &&
            addConnectionForm.get('name')?.invalid
            ) {
            <div
              >
              Please provide connection name.
            </div>
          }
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group mb-3">
          <label for="deviceIdFrom" class="form-label">Device From</label>
          <select
            (change)="changeDeviceFrom($event)"
            formControlName="deviceIdFrom"
            [ngClass]="{
              'is-invalid': this.addConnectionForm.controls.deviceIdFrom.status !== 'VALID',
              'is-valid': this.addConnectionForm.controls.deviceIdFrom.status === 'VALID',
              'form-select': true,
            }"
            id="deviceIdFrom">
            @for (deviceFromObj of deviceList; track deviceFromObj; let i = $index) {
              <option [value]="deviceFromObj._id">
                {{ deviceFromObj.name }}
              </option>
            }
          </select>
          @if (this.addConnectionForm.get('deviceIdFrom')?.invalid) {
            <div>Device Id From is required</div>
          }
        </div>
      </div>
      <div class="col">
        <div class="form-group mb-3">
          <label for="deviceIdTo" class="form-label">Device To</label>
          <select
            (change)="changeDeviceTo($event)"
            formControlName="deviceIdTo"
            [ngClass]="{
              'is-invalid': this.addConnectionForm.controls.deviceIdTo.status !== 'VALID',
              'is-valid': this.addConnectionForm.controls.deviceIdTo.status === 'VALID',
              'form-select': true,
            }"
            id="deviceIdTo">
            @for (deviceToObj of deviceList; track deviceToObj; let i = $index) {
              <option [value]="deviceToObj._id">
                {{ deviceToObj.name }}
              </option>
            }
          </select>
          @if (this.addConnectionForm.controls.deviceIdTo.errors) {
            <div>
              @if (this.addConnectionForm.controls.deviceIdTo.errors.required) {
                <div>Device Id To is required</div>
              }
            </div>
          }
          <div>
            {{ this.toString(this.addConnectionForm.controls.deviceIdTo.hasError) }}
          </div>
        </div>
      </div>
    </div>
    <div class="form-group mb-3">
      <button
        type="submit"
        [disabled]="!(this.addConnectionForm.valid && this.addConnectionForm.touched)"
        class="btn btn-primary">
        <i class="bi bi-plus-square"></i> Add connection
      </button>
      @if (!(this.addConnectionForm.valid && this.addConnectionForm.touched)) {
        <div class="invalid-feedback">
          Form is invalid
        </div>
      }
    </div>
  </form>
</div>
