<div class="container-fluid">
  <h3><i class="bi bi-building"></i> Edit Floor</h3>
  <form [formGroup]="floorForm" (ngSubmit)="submitForm()" class="g-3 needs-validation" novalidate>
    <div class="form-group mb-3">
      <label for="id" class="form-label"><i class="bi bi-app"></i> {{ floorForm.get('id')?.value }}</label>
    </div>

    <h4>Address</h4>

    <div class="col border">
      <div class="form-group mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" id="name" formControlName="name" minlength="4" maxlength="250" required [ngClass]="{
            'is-invalid': floorForm.get('name')?.invalid && (floorForm.get('name')?.dirty || floorForm.get('name')?.touched),
            'is-valid': floorForm.get('name')?.valid && (floorForm.get('name')?.dirty || floorForm.get('name')?.touched),
            'form-control': true,
          }" />
        <div class="invalid-feedback" *ngIf="floorForm.get('name')?.errors">
          <div *ngIf="floorForm.get('name')?.errors?.required">
            Name is required
          </div>
          <div *ngIf="floorForm.get('name')?.errors?.minlength">
            Name must be at least 4 characters
          </div>
        </div>
      </div>
      <div formGroupName="address">
        <div class="row">
          <div class="col">
            <div class="form-group mb-3">
              <label for="street" class="form-label">Street</label>
              <input type="text" formControlName="street" id="street" required [ngClass]="{
                  'is-invalid': floorForm.get('address.street')?.invalid && (floorForm.get('address.street')?.dirty || floorForm.get('address.street')?.touched),
                  'is-valid': floorForm.get('address.street')?.valid && (floorForm.get('address.street')?.dirty || floorForm.get('address.street')?.touched),
                  'form-control': true,
                }" />
              <div class="invalid-feedback" *ngIf="floorForm.get('address.street')?.errors">
                <div *ngIf="floorForm.get('address.street')?.errors?.required">
                  Street is required
                </div>
                <div *ngIf="floorForm.get('address.street')?.errors?.minlength">
                  Street must be at least 2 characters
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-3">
              <label for="city" class="form-label">City</label>
              <input type="text" formControlName="city" id="city" required [ngClass]="{
                  'is-invalid': floorForm.get('address.city')?.invalid && (floorForm.get('address.city')?.dirty || floorForm.get('address.city')?.touched),
                  'is-valid': floorForm.get('address.city')?.valid && (floorForm.get('address.city')?.dirty || floorForm.get('address.city')?.touched),
                  'form-control': true,
                }" />
              <div class="invalid-feedback" *ngIf="floorForm.get('address.city')?.errors">
                <div *ngIf="floorForm.get('address.city')?.errors?.required">
                  City is required
                </div>
                <div *ngIf="floorForm.get('address.city')?.errors?.minlength">
                  City is required
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-3">
              <label for="country" class="form-label">Country</label>
              <input type="text" formControlName="country" id="country" required [ngClass]="{
                  'is-invalid': floorForm.get('address.country')?.invalid && (floorForm.get('address.country')?.dirty || floorForm.get('address.country')?.touched),
                  'is-valid': floorForm.get('address.country')?.valid && (floorForm.get('address.country')?.dirty || floorForm.get('address.country')?.touched),
                  'form-control': true,
                }" />
              <div class="invalid-feedback" *ngIf="floorForm.get('address.country')?.errors">
                <div *ngIf="floorForm.get('address.country')?.errors?.required">
                  Country is required
                </div>
                <div *ngIf="floorForm.get('address.country')?.errors?.minlength">
                  Country must be at least 1 character
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group mb-3">
              <label for="postcode" class="form-label">Postcode</label>
              <input type="text" formControlName="postcode" id="postcode" required [ngClass]="{
                  'is-invalid': floorForm.get('address.postcode')?.invalid && (floorForm.get('address.postcode')?.dirty || floorForm.get('address.postcode')?.touched),
                  'is-valid': floorForm.get('address.postcode')?.valid && (floorForm.get('address.postcode')?.dirty || floorForm.get('address.postcode')?.touched),
                  'form-control': true,
                }" />
              <div class="invalid-feedback"
                *ngIf="floorForm.get('address.postcode')?.errors && (floorForm.get('address.postcode')?.dirty || floorForm.get('address.postcode')?.touched)">
                <div *ngIf="floorForm.get('address.postcode')?.errors?.required">
                  Postcode is required
                </div>
                <div *ngIf="floorForm.get('address.postcode')?.errors?.minlength">
                  Postcode must be at least 5 characters long
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h4>Dimension</h4>
    <div class="border">
      <div formArrayName="dimension">
        <div *ngFor="let dimensionForm of dimension.controls; let i = index">
          <div [formGroupName]="i">
            <div class="row">
              <div class="col">
                <div class="form-group mb-3">
                  <label for="description" class="form-label">Description</label>
                  <input type="text" formControlName="description" minlength="4" maxlength="512" required
                    [ngClass]="{
                      'is-invalid': dimensionForm.get('description')?.invalid && (dimensionForm.get('description')?.dirty || dimensionForm.get('description')?.touched),
                      'is-valid': dimensionForm.get('description')?.valid && (dimensionForm.get('description')?.dirty || dimensionForm.get('description')?.touched),
                      'form-control': true,
                    }" />
                  <div class="invalid-feedback" *ngIf="dimensionForm.get('description')?.errors">
                    <div *ngIf="dimensionForm.get('description')?.errors?.required">
                      Description is required.
                    </div>
                    <div *ngIf="dimensionForm.get('description')?.errors?.minlength">
                      Description must be at least 4 characters.
                    </div>
                    <div *ngIf="dimensionForm.get('description')?.errors?.maxlength">
                      Description cannot exceed 512 characters.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group mb-3">
                    <label [for]="'xPos' + i" class="form-label">X position</label>
                    <input type="text" formControlName="xPos" [id]="'xPos' + i" required [ngClass]="{
                        'is-invalid': dimensionForm.get('xPos')?.invalid && (dimensionForm.get('xPos')?.dirty || dimensionForm.get('xPos')?.touched),
                        'is-valid': dimensionForm.get('xPos')?.valid && (dimensionForm.get('xPos')?.dirty || dimensionForm.get('xPos')?.touched),
                        'form-control': true
                      }" />
                    <div class="invalid-feedback" *ngIf="dimensionForm.get('xPos')?.errors">
                      <div *ngIf="dimensionForm.get('xPos')?.errors?.required">
                        X position is required
                      </div>
                      <div *ngIf="dimensionForm.get('xPos')?.errors?.minlength">
                        X position must be at least 1 character
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group mb-3">
                    <label [for]="'yPos' + i" class="form-label">Y position</label>
                    <input type="text" formControlName="yPos" [id]="'yPos' + i" required [ngClass]="{
                        'is-invalid': dimensionForm.get('yPos')?.invalid && (dimensionForm.get('yPos')?.dirty || dimensionForm.get('yPos')?.touched),
                        'is-valid': dimensionForm.get('yPos')?.valid && (dimensionForm.get('yPos')?.dirty || dimensionForm.get('yPos')?.touched),
                        'form-control': true,
                    }" />
                    <div class="invalid-feedback" *ngIf="dimensionForm.get('yPos')?.errors">
                      <div *ngIf="dimensionForm.get('yPos')?.errors?.required">
                        Y is required
                      </div>
                      <div *ngIf="dimensionForm.get('yPos')?.errors?.minlength">
                        Y must be at least 1 characters
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group mb-3">
                    <label [for]="'hPos' + i" class="form-label">H position</label>
                    <input type="text" formControlName="hPos" [id]="'hPos' + i" required [ngClass]="{
                        'is-invalid': dimensionForm.get('hPos')?.invalid && (dimensionForm.get('hPos')?.dirty || dimensionForm.get('hPos')?.touched),
                        'is-valid': dimensionForm.get('hPos')?.valid && (dimensionForm.get('hPos')?.dirty || dimensionForm.get('hPos')?.touched),
                        'form-control': true,
                    }" />
                    <div class="invalid-feedback" *ngIf="dimensionForm.get('hPos')?.errors">
                      <div *ngIf="dimensionForm.get('hPos')?.errors?.required">
                        H is required
                      </div>
                      <div *ngIf="dimensionForm.get('hPos')?.errors?.minlength">
                        H must be at least 1 characters
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group mb-3">
                    <label [for]="'x' + i" class="form-label">X</label>
                    <input type="text" formControlName="x" [id]="'x' + i" required [ngClass]="{
                        'is-invalid': dimensionForm.get('x')?.invalid && (dimensionForm.get('x')?.dirty || dimensionForm.get('x')?.touched),
                        'is-valid': dimensionForm.get('x')?.valid && (dimensionForm.get('x')?.dirty || dimensionForm.get('x')?.touched),
                        'form-control': true,
                    }" />
                    <div class="invalid-feedback" *ngIf="dimensionForm.get('x')?.errors">
                      <div *ngIf="dimensionForm.get('x')?.errors?.required">X is required</div>
                      <div *ngIf="dimensionForm.get('x')?.errors?.minlength">
                        X must be at least 1 characters
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group mb-3">
                    <label [for]="'y' + i" class="form-label">Y</label>
                    <input type="text" formControlName="y" [id]="'y' + i" required [ngClass]="{
                        'is-invalid': dimensionForm.get('y')?.invalid && (dimensionForm.get('y')?.dirty || dimensionForm.get('y')?.touched),
                        'is-valid': dimensionForm.get('y')?.valid && (dimensionForm.get('y')?.dirty || dimensionForm.get('y')?.touched),
                        'form-control': true,
                    }" />
                    <div class="invalid-feedback" *ngIf="dimensionForm.get('y')?.errors">
                      <div *ngIf="dimensionForm.get('y')?.errors?.required">Y is required</div>
                      <div *ngIf="dimensionForm.get('y')?.errors?.minlength">
                        Y must be at least 1 characters
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group mb-3">
                    <label [for]="'h' + i" class="form-label">H</label>
                    <input type="text" formControlName="h" [id]="'h' + i" required [ngClass]="{
                        'is-invalid': dimensionForm.get('h')?.invalid && (dimensionForm.get('h')?.dirty || dimensionForm.get('h')?.touched),
                        'is-valid': dimensionForm.get('h')?.valid && (dimensionForm.get('h')?.dirty || dimensionForm.get('h')?.touched),
                        'form-control': true,
                    }" />
                    <div class="invalid-feedback" *ngIf="dimensionForm.get('h')?.errors">
                      <div *ngIf="dimensionForm.get('h')?.errors?.required">h is required</div>
                      <div *ngIf="dimensionForm.get('h')?.errors?.minlength">
                        h must be at least 1 characters
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex p-2">
                <div class="p-1 g-col-1">
                  <button type="button" (click)="addDimension()" class="btn btn-secondary">
                    <i class="bi bi-file-earmark-plus"></i> Add New Dimension
                  </button>
                </div>
                <div class="p-1 g-col-1 column-gap-3">
                  <button type="button" (click)="deleteDimension(i)" class="btn btn-warning">
                    <i class="bi bi-file-earmark-minus"></i> Delete Dimension {{ i }}
                  </button>
                </div>
                <div class="p-1 g-col-1 column-gap-3">
                  <button type="button" (click)="generateDimension(i)" class="btn btn-info">
                    <i class="bi bi-bookmark-plus"></i> Generate random Dimension {{ i }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p>Form Status: {{ floorForm.status }}</p>
    <div class="form-group mb-3">
      <button type="submit" [disabled]="!floorForm.valid" class="btn btn-primary mb-3">
        <i class="bi bi-save"></i> Update
      </button>
    </div>
  </form>
  <app-log [component]="component" [componentName]="componentName" [isComponent]="false"></app-log>
</div>
