/* You can add global styles to this file, and also import other style files */
body {
  width: 100vw;
  height: 100vh;
}
.log-message {
  margin-top: 4px;;
  color: #9a9aa7;
  font-size: small;
}

.error-message {
  margin-top: 4px;;
  font-size: 0.875em;
  color: var(--bs-form-invalid-color);
}
@import '../node_modules/bootstrap-icons/font/bootstrap-icons';
@import "../node_modules/bootstrap/scss/bootstrap";
